@model Geta.NotFoundHandler.Admin.Pages.Geta.NotFoundHandler.Admin.Components.Pager.PagerViewModel

<nav aria-label="Table pagination">
    <ul class="pagination">
        <li class="page-item @(Model.HasPreviousPage ? string.Empty : "disabled")">
            <button type="submit" class="page-link" name="page" value="@(Model.PageNumber-1)" aria-label="Previous" asp-page-handler="">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>

        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item">
                <button type="submit" class="page-link" name="page" value="@i" asp-page-handler="">
                    @i
                </button>
            </li>
        }
        <li class="page-item @(Model.HasNextPage ? string.Empty : "disabled")">
            <button type="submit" class="page-link" name="page" value="@(Model.PageNumber+1)" aria-label="Next" asp-page-handler="">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>