@page
@model DeletedModel

@await Component.InvokeAsync("Card", new { message = Model.Message })
@await Component.InvokeAsync("Card", new { message = Model.OperationMessage, cardType = CardType.Success })

<form method="post">
    <div class="table-responsive mt-3">
        <table class="table table-hover table-sm" aria-label="Deleted redirects">
            <thead>
                <tr>
                    @await Component.InvokeAsync("SortableHeader", new { DisplayName = "URL", InternalName = nameof(CustomRedirect.OldUrl), Model.Params })
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" asp-for="DeletedRedirect.OldUrl">
                        <span asp-validation-for="DeletedRedirect.OldUrl" class="text-danger"></span>
                    </td>
                    <td>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary"
                                    asp-page-handler="create">
                                <span data-feather="plus"></span> add
                            </button>
                        </div>
                    </td>
                </tr>
                @foreach (var item in Model.Results.Redirects)
                {
                    <tr class="align-middle">
                        <td>@item.OldUrl</td>
                        <td>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-danger"
                                        asp-page-handler="delete" asp-route-oldurl="@item.OldUrl">
                                    <span data-feather="trash-2"></span> delete
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @await Component.InvokeAsync(typeof(Geta.NotFoundHandler.Admin.Pages.Geta.NotFoundHandler.Admin.Components.Pager.PagerViewComponent), new { Model.Params.Page, Model.Params.PageSize, Model.Results.TotalCount })
    </div>
    <input type="hidden" name="page" value="@Model.Params.Page">
    <input type="hidden" name="sort-by" value="@Model.Params.SortBy">
    <input type="hidden" name="sort-direction" value="@Model.Params.SortDirection">
</form>
