@page "{handler?}"
@using Geta.NotFoundHandler.Core.Redirects
@using Geta.NotFoundHandler.Infrastructure.Configuration
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@model Geta.NotFoundHandler.Admin.Pages.Geta.NotFoundHandler.Admin.IndexModel
@inject IOptions<NotFoundHandlerOptions> Options;

@await Component.InvokeAsync("Card", new { message = Model.Message })

<form method="get">
    <div class="search-container input-group flex-nowrap">
        <input class="form-control w-100 border-end-0" type="text" placeholder="Search" aria-label="Search" id="search" name="q" value="@Model.Query">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary border-start-0 border" type="button" data-clear="#search">
                <span data-feather="x"></span>
            </button>
        </span>
        <button type="submit" class="btn btn-outline-secondary search-button">
            <span data-feather="search"></span> search
        </button>
    </div>
</form>

<form method="post">
    <div class="table-responsive mt-3">
        <table class="table table-hover table-sm" aria-label="Redirects">
            <thead>
            <tr>
                <th>Old URL</th>
                <th>New URL</th>
                <th class="col-1 text-center">Wildcard</th>
                <th class="col-1">Redirect Type</th>
                <th class="col-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" asp-for="CustomRedirect.OldUrl">
                    <span asp-validation-for="CustomRedirect.OldUrl" class="text-danger"></span>
                </td>
                <td>
                    <input type="text" class="form-control" asp-for="CustomRedirect.NewUrl">
                    <span asp-validation-for="CustomRedirect.NewUrl" class="text-danger"></span>
                </td>
                <td class="text-center align-middle">
                    <input type="checkbox" class="form-check-input" asp-for="CustomRedirect.WildCardSkipAppend">
                </td>
                <td>
                    <select class="form-select" asp-for="CustomRedirect.RedirectType">
                        <option value="@RedirectType.Temporary"
                                selected="@(Options.Value.DefaultRedirectType == RedirectType.Temporary)">
                            @RedirectType.Temporary
                        </option>
                        <option value="@RedirectType.Permanent"
                                selected="@(Options.Value.DefaultRedirectType == RedirectType.Permanent)">
                            @RedirectType.Permanent
                        </option>
                    </select>
                </td>
                <td>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary"
                                asp-page-handler="create">
                            <span data-feather="plus"></span> add
                        </button>
                    </div>
                </td>
            </tr>
            @foreach (var item in Model.Items)
            {
                <tr class="align-middle">
                    <td>@item.OldUrl</td>
                    <td>@item.NewUrl</td>
                    <td class="text-center align-middle">
                        @await Component.InvokeAsync("CheckboxReadonly", new { isChecked = item.WildCardSkipAppend })
                    </td>
                    <td>@item.RedirectType</td>
                    <td>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-danger"
                                    asp-page-handler="delete" asp-route-oldurl="@item.OldUrl">
                                <span data-feather="trash-2"></span> delete
                            </button>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        @await Component.InvokeAsync(typeof(Geta.NotFoundHandler.Admin.Pages.Geta.NotFoundHandler.Admin.Components.Pager.PagerViewComponent), new { Model.Items })
    </div>
</form>